# Ignore arquivos e pastas gerados pelo Visual Studio
.vs/
*.user
*.suo

# Ignore pastas de build
bin/
obj/

# Ignore arquivos de cache do NuGet
*.nupkg
packages/
project.lock.json
project.fragment.lock.json

# Ignore arquivos de log
*.log

# Ignore arquivos de debug e de build
*.pdb
*.dll
*.exe

# Ignore arquivos temporários do sistema operacional
*.tmp
*.temp
*.swp
*.DS_Store
Thumbs.db

# Ignore drivers de navegador
selenium-manager/

# Ignore resultados de testes
TestResults/

# Ignore arquivos gerados pelo SpecFlow
*.feature.cs

# Ignore arquivos de configuração gerados automaticamente
*.AssemblyInfo.cs
*.GeneratedMSBuildEditorConfig.editorconfig