# Ignore arquivos e pastas gerados pelo Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore pastas de build
bin/
obj/

# Ignore arquivos de configuração local
appsettings.json

# Ignore arquivos de cache do NuGet
*.nupkg
packages/
project.lock.json
project.fragment.lock.json
*.nuget.props
*.nuget.targets

# Ignore arquivos de log
*.log

# Ignore arquivos de debug e de build
*.pdb
*.dll
*.exe
*.cache
*.csproj.user

# Ignore arquivos gerados pelo SpecFlow
*.feature.cs

# Ignore arquivos temporários do sistema operacional
*.tmp
*.temp
*.swp
*.DS_Store
Thumbs.db

# Ignore drivers de navegador
Drivers/chromedriver.exe
selenium-manager/

# Ignore resultados de testes
TestResults/

# Ignore arquivos de configuração gerados automaticamente
*.AssemblyInfo.cs
*.GeneratedMSBuildEditorConfig.editorconfig